* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: block;
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 300px;
    box-shadow: gray 0px 0px 6px;
    border-radius: 4px;
    margin: 10% auto;
}

#tip {
    display: none;
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 1px;
    color: red;
}

.logo {
    width: 40%;
    margin-left: 30%;
}

#inp {
    width: 80%;
    margin: 30px auto;
    position: relative;
}

#inp input {
    width: 100%;
    height: 40px;
    background-color: rgb(235, 235, 235);
    border: 0px solid darkgray;
    padding: 2px;
    border-radius: 8px;
    font-size: 10px;
}

#inp input:focus {
    outline: 1px solid darkgray;
}

#password {
    margin-top: 10px;
}

.submit {
    width: 60%;
    height: 26px;
    margin-bottom: 10px;
    margin-left: 20%;
    border: 1px solid darkgray;
    border-radius: 6px;
    background-color: #3b92e9;
    color: aliceblue;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#eye {
    width: 20px;
    position: absolute;
    right: 2px;
    bottom: 10px;
}

#a {
    position: absolute;
    font-size: 4px;
    color: dimgrey;
    bottom: 2px;
    left: 2px;
}

#b {
    position: absolute;
    font-size: 4px;
    color: dimgrey;
    bottom: 2px;
    right: 2px;
}